@using DataTrust.Models;
@using System.Security.Claims;
@model IEnumerable<SelectListItem>;

@{
    // Hämta användarens namn och e-post från claims
    var name = User.FindFirst(ClaimTypes.Name)?.Value;  // För användarens namn
    var email = User.FindFirst(ClaimTypes.Email)?.Value;  // För användarens e-post
}

<form method="post" asp-page="/FakeLogin">
    <label>
        Log in as:
        <select asp-items="@Model" name="AccountID" id="account-id"></select>
    </label>
    <button type="submit">Log In</button>
</form>

@if (name != null || email != null)
{
    <p>Logged in as: @name</p>
    <p>Email: @email</p>
}
else
{
    <p>No user information available.</p>
}
